{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
		[
			"babel-plugin-root-import",
			{
				"rootPathPrefix": "~/src"
      },
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }
		]
  ]
}
